#dingbuhezi {
    width: 1500px;
    height: 305px;
    border: 1px solid red;
    margin: 0 auto;
    position: absolute;
}
#logo {
    width: 200px;
    height: 40px;
    border: 1px solid red;
    position: relative;
    top: 5px;
    left: 5px;
}
#daohanglanlianjieQY {
    color: #ffffff;
    position: absolute;
    right: 33px;
}
#daohanglanlianjieQY li {
    list-style: none;
    float: left;
    margin-left: 17px;
}