body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
#dingbuQY {
    width: 100vw;
    height: 755px;
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: center;
}
hr {
    width: 100vw;
    position: absolute;
    top: 90px;
    opacity: 0.6;
}
#zhongjianQY {
    width: 1500px;
    height: 900px;
    border: 1px solid red;
    margin-top: 80px;
    margin-bottom: 40px;
}
#dibuQY {
    width: 100vw;
    height: 200px;
    border: 1px solid red;
}